<main class="flex-shrink-0 mb-2">
  <div class="container-fluid pt-5 pl-2 around-table">
    <h5 class="pt-3">Transactions</h5>
    <p class="load" *ngIf="!transactions.length">Loading...</p>
    <div class="table-responsive the-table shadow-sm p-3 mb-2 bg-white rounded">
      <app-transaction-table *ngIf="transactions.length" [transactions]="transactions" (update)="handleReportData($event)"></app-transaction-table>
    </div>
    <div *ngIf="reportForDate">
      <h5>Daily expenses on {{ reportForDate | date: 'dd/MM/yyyy' }}</h5>
      <app-chart [reportForDate]="reportForDate" [pieChartData]="pieChartData"></app-chart>
    </div>
  </div>
</main>