h2, h3, h4 {
    padding-left: 1rem;
}

.table-container {
    margin-bottom: 50px;  
}

.around-table {
    padding-right: 0;
    padding-left: 0;
}

.wrap-table {
    max-height: 300px;
    overflow-y: auto;
}

.chart-wrap {
    height: 200px !important;
    width: 200px !important;
}

.canva-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
//   min-height: 100vh; 
}