h2, h3, h4, h5 {
    padding-left: 1rem;
}

.around-table {
    padding-right: 0;
    padding-left: 0;
}

.the-table {
    max-height: 300px;
    overflow-y: auto;
}

.load {
    padding-left: 1rem;
}

